.personal-info p img {
    max-width: 18px;
}
.personal-info p {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
aside .widget .widget-content {
    font-size: 14px;
}
main .time-line-item .badge,
main .time-line-item-content
    font-size: 15px;
}
main p,
main .time-line-item-subtitle,
main .service-card .service-description {
    font-size: 16px;
}
aside .widget .widget-title,
main .time-line-item-title,
main .service-card .service-title,
main .contact-section p{
    font-size: 18px;
}
